<template>
    <div id="show-blogs">
        <h1>All Blog Articles</h1>
        <input type="text" v-model="search" placeholder="search blogs" />
        <div v-for="blog in filteredBlogs" :v-if="length>0" :key="blog.title" class="single-blog">
            <h2>{{ blog.title }}</h2>
            <article>{{ blog.body }}</article>
        </div>
        <div v-if="length==0">
            <h2>No blog</h2>
        </div>
    </div>
</template>

<script>
// Imports
import searchMixin from '../mixins/searchMixin';

export default {
    name: 'showBlogs',
    data () {
        return {
            blogs: [],
            search: ''
        }
    },
    created() {
        this.$http.get('http://jsonplaceholder.typicode.com/posts').then(function(data){
            this.blogs = data.body.slice(0,this.Num);
        });
    },
    computed: {
        length: function(){
            return this.filteredBlogs.length;
        }
    },
    props: {
      Num: {
        type: Number,
        default: 10,
      },
    },
    mixins: [searchMixin]
}
</script>

<style>
#show-blogs{
    max-width: 800px;
    margin: 0px auto;
}
.single-blog{
    padding: 20px;
    margin: 20px 0;
    box-sizing: border-box;
    background: #eee;
}
</style>
