<template>
    <div>
        <app-header></app-header>
        <router-view></router-view>
    </div>
</template>

<script>
// Imports
// import showBlogs from './components/showBlogs.vue';
// import listBlogs from './components/listBlogs.vue';
import headerNav from './components/headerNav.vue';

export default {
    components: {
        'app-header': headerNav
    },
    data () {
        return {

        }
    },
    methods: {

    }
}
</script>

<style>
body{
    margin: 0;
    font-family: 'Nunito SemiBold';
}
</style>
